@use 'styles/mixins/centerForm' as *;
@use 'styles/colors' as *;

.login {
	@include centerForm();

	.errorMessage {
		color: $clr-error;
	}

	.socialLogin {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
		img {
			width: 2rem;
		}
	}
}
