@use 'styles/typography' as *;
@use 'styles/colors' as *;

h3 {
	font-size: $fs-header-big;
	text-align: center;
	color: $clr-header-dark;
	font-weight: $fw-regular;
	margin-top: 1rem;
}

.description {
	font-size: medium;
	color: $clr-header-dark;
	line-height: 1.5rem;
	font-family: $ff-primary;
	padding: 1rem;
}

.paragraph {
	padding: 1rem;

	h4 {
		font-size: x-large;
		font-weight: $fw-regular;
		font-family: $ff-primary;
	}
}
