$clr-primary-light: #25dab3;
$clr-primary-dark: #00bdb0;

$clr-footer-dark: #2e4756;
$clr-header-dark: #286377;
$clr-section-title: #057c8f;

$clr-section: #afe9dc;
$clr-button-light: #afe9dc;
$clr-subsection: #eef6f5;
$clr-subsection-hover: #ddf3ee;

$clr-text-dark: #0f241f;
$clr-text-light: #fff;
$clr-text-placeholder: #8ba7a7;

$clr-console: #1f1f1f;

$clr-header-light: #b0e9dd;
$clr-landing-bg: #040c0e;

$clr-error: #ac0000;
$clr-message: #019501;
