$clr-primary-light: #25dab3;
$clr-primary-dark: #00bdb0;

$clr-footer-dark: hsl(203, 30%, 26%);
$clr-header-dark: hsl(195, 50%, 31%);
$clr-section-title: hsl(188, 93%, 29%);

$clr-section: #afe9dc; //clr-button-light
$clr-subsection: hsl(169, 31%, 95%);
$clr-subsection-hover: hsl(166, 48%, 91%);

$clr-text-dark: hsl(166, 41%, 10%);
$clr-text-light: hsl(0, 0%, 100%);
$clr-text-placeholder: hsl(180, 14%, 60%);

$clr-console: hsl(0, 0%, 12%);

$clr-header-light: #b0e9dd;
$clr-landing-bg: #040c0e;

$clr-error: #e41515;
$clr-message: #15ca15;
