@use 'styles/colors' as *;
@use 'styles/utils' as *;
@use 'styles/typography' as *;
@use 'styles/variables' as *;

@mixin userSelectNone {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin linksNaked {
	a {
		&:link,
		&:active,
		&:visited {
			text-decoration: none;
		}
	}
}

@mixin centerForm() {
	display: flex;
	justify-content: center;

	.mainFrame {
		display: flex;
		flex-direction: column;
		border: 1px solid $clr-text-placeholder;
		border-radius: $border-radius;
		padding: 3rem;
		gap: 1rem;
		min-width: 30vw;
		margin-top: 5rem;
		@media only screen and (max-width: $mobileScreen) {
			border: none;
			margin-top: 1rem;
		}
		span {
			padding-left: 0.25rem;
		}

		&__header {
			color: $clr-text-dark;

			display: flex;
			align-items: center;

			&__title {
				h3 {
					font-weight: $fw-regular;
					font-size: x-large;
					padding-right: 0.5rem;
					margin-right: 0.5em;
				}
			}
		}

		&__body {
			display: inherit;
			flex-direction: inherit;
			gap: inherit;

			&__privacyPolicy {
				display: inherit;
				align-items: center;
				gap: inherit;
				input {
					height: 2rem;
					margin-left: 0.5rem;
				}
			}

			&__form {
				display: inherit;
				flex-direction: inherit;
				gap: inherit;

				input {
					all: unset;
					border: 1px solid $clr-text-placeholder;
					border-radius: 20px;
					height: 2.5em;
					padding-left: 1em;
				}
			}
		}
	}

	a {
		color: $clr-primary-light;
	}
}

@mixin customScroll {
	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		// width: 0.8rem;
		width: 0;
		opacity: 100%;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		opacity: 100%;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #fff;
		opacity: 100%;
		border-radius: 10px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
		opacity: 100%;
	}
	scrollbar-color: #fff rgba(0, 0, 0, 0);
	opacity: 100%;

	// scrollbar-width: 0.8rem;
	scrollbar-width: 0;
	scrollbar-highlight-color: #fff;
}
