@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$ff-primary: 'Comfortaa', sans-serif;
$ff-tutorials: 'Roboto', sans-serif;
$fs-text-primary: 1rem;
$fs-section-title: 1.5rem;
$fs-header-big: 3rem;
$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;
