@import '../../styles/mixins/customScroll';
@import '../../styles/typography';
@import '../../styles/colors';

.tutorialsView{
    
    font-weight: $fw-light;
    height: 90vh;
    display: flex;
    flex: 1 1 100%;
    gap: 1rem;

    .sectionsList{

        background: $clr-subsection;
        @include customScroll();
        max-width: 20vw;
    }
    
    .subsectionView{

        padding-top: 2rem;
        padding-right: 1rem;
    
        @include customScroll();
        min-width: 80vw;

        flex-direction: column;
        flex: 1 1 80vw;
    }
}