@use 'styles/mixins/customScroll' as *;
@use 'styles/typography' as *;
@use 'styles/colors' as *;

.tutorialsContainer {
	font-weight: $fw-light;
	height: 100vh;
	display: flex;
	flex: 1 1 100%;
	gap: 1rem;

	.sectionsList {
		background: $clr-subsection;
		@include customScroll();
		max-width: 20vw;
	}

	.subsectionView {
		padding-top: 2rem;
		padding-right: 1rem;

		@include customScroll();
		min-width: 80vw;

		flex-direction: column;
		flex: 1 1 80vw;

		.navButtons {
			display: flex;
			flex-direction: row;
			padding-top: 2rem;

			& > div {
				padding: 1rem;
			}

			&__prev {
				flex: 1;
			}
		}
	}
}
