@use 'styles/mixins/linksStyleNone' as *;
@use 'styles/colors' as *;
@use 'styles/variables' as *;

.navigationBar {
	height: $headerHeight;
	min-height: 5rem;
	width: 100vw;

	.headerContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		position: sticky;
		z-index: 1;

		background: $clr-primary-dark;
		padding: 1rem;

		@include linksStyleNone();
	}
}
