@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/variables';

.app {
	// overflow: hidden;
	&__header {
		width: 100vw;
		height: 10vh;
		min-height: 4rem;
		padding: 1rem 0;
		background: $clr-primary-dark;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: sticky;
		z-index: 1;
		// overflow: hidden;
	}
	@include linksNaked();

	&__main {
		// overflow-y: hidden; //o s t r o ż n i e
		@include customScroll();
		// @include flexCenter;
		align-items: flex-start;
		@media only screen and (max-width: $mobileScreen) {
			// padding-top: 0;
		}
		height: 90vh;
		width: 100vw;
	}
}
