@use 'styles/mixins/centerForm' as *;
@use 'styles/colors' as *;
@use 'styles/variables' as *;

.changePassword {
	@include centerForm();
	.msgBox {
		color: $clr-message;
	}
	.msgBoxError {
		color: $clr-error;
	}

	@media only screen and (max-width: $mobileScreen) {
		.msgBox,
		.msgBoxError,
		.message {
			max-width: 100vw;
		}
	}
}
