@use 'styles/typography' as *;
@import 'styles/reset';

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: $ff-primary, 'Roboto';
	font-size: $fs-text-primary;
	margin: 0;
	overflow: hidden;

	code {
		font-family: Consolas;
	}
}
