@use 'styles/colors' as *;
@use 'styles/mixins/flexCenter' as *;
@use 'styles/typography' as *;
@use 'styles/utils' as *;

.baseButton {
	// all: unset;
	font-weight: 300;
	&:focus {
		outline: 0;
	}
	&:hover {
		span {
			transform: scale(1.1);
			transition-duration: 0.2s;
		}
	}
	span {
		display: flex;
		transition-duration: 0.2s;
		align-items: center;
	}

	@include flexCenter();
	color: $clr-text-dark;
	border: none;
	cursor: pointer;

	&.small {
		padding: 0.25rem 0.5rem;
		font-size: 1rem;
	}

	&.medium {
		padding: 0.8rem 1rem;
		font-size: 1rem;
	}

	&.large {
		padding: 0.5rem 2.25rem;
		font-size: 1.25rem;
	}

	&.rounded {
		border-radius: $border-radius * 2;
	}
	&.outlined {
		background: linear-gradient(to bottom, $clr-primary-dark, $clr-primary-light);
		border: 1px solid $clr-text-light;
		color: $clr-text-light;
	}
	&.filled {
		background: linear-gradient($clr-primary-dark, $clr-primary-light);
		color: $clr-text-light;
		box-shadow: 0 0 1em $clr-text-placeholder;
	}
	&.none {
		display: none;
	}

	&.icon {
		font-size: 10px;
	}
}
