@mixin customScroll {
	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		// width: 0.8rem;
		width: 0;
		opacity: 100%;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		opacity: 100%;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #fff;
		opacity: 100%;
		border-radius: 10px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
		opacity: 100%;
	}
	scrollbar-color: #fff rgba(0, 0, 0, 0);
	opacity: 100%;

	// scrollbar-width: 0.8rem;
	scrollbar-width: 0;
	scrollbar-highlight-color: #fff;
}
